@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ebGaramond: var(--font-eb-garamond);
  --font-roboto: var(--font-roboto);
  --font-golosText: var(--font-golos-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: var(--foreground);
  font-family: var(--font-golosText);
}
